body {
  overflow: hidden;
  background-color: #ffebeb;
  background-size: 33%;
}
.chat-area {
  float: left;
  height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  background-color: #fff;
}
.chat-area li {
  padding: 14px 14px 0;
}
.chat-area li::after {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.chat-area li .chat-img img {
  height: 40px;
  width: 40px;
}
.chat-area .chat-body.left {
  margin-left: 50px;
}
.chat-area .chat-body.right {
  margin-right: 50px;
}
.chat-body p {
  background: #fbf9fa none repeat scroll 0 0;
  padding: 10px;
}
.chat-img {
  /*padding-top: 10px;*/
}
.chat-img img {
  height: 34px;
  width: 34px;
}
.chat-time {
  font-size: 8pt;
}
.chat-area .chat_reply .chat-body {
  margin-left: 0;
  margin-right: 50px;
}
.chat-area li:last-child {
  padding-bottom: 10px;
}

.message_write {
  background: #f5f3f3 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.message_write textarea.form-control {
  height: 70px;
  padding: 10px;
}
.chat_bottom {
  float: left;
  margin-top: 13px;
  width: 100%;
}
.upload_btn {
  color: #777777;
}
